
section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1150px;
    height: 900px;
/*    border: 1px solid red;*/
    background: linear-gradient(white, #d9d9d9);
    margin: auto;
    border-radius: 10px;

}
.child1 {
    width: 350px;
    height: 900px;
    border: 1px solid gray;
    border-radius: 10px

}
.child1 img {
    width: 300px;
    margin: 5px 25px 0px 0px;
}

.ggchild1 img{
    width: 300px;
    margin: 15px 25px 0px 20px;
}
.ggchild2 img{
    width: 300px;
    margin: 15px 25px 0px 20px;
}

.child2 {
    width: 750px;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.g1 {
    width: 750px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.g2 {
    width: 750px;
    height: 350px;

    border-radius: 10px;
    border: 1px solid gray;
}
.ggchild1 {
    width: 350px;
    height: 500px;
/*    background: linear-gradient(white, gray);*/
/*    opacity: 0.5;*/
    border: 1px solid gray;
    border-radius: 10px;
}
.ggchild2 {
    width: 350px;
    height: 500px;

    border: 1px solid gray;
    border-radius: 10px;

}
h1 {
    text-align: center;
    margin-top: 300px ;
}
.ggchild1 h1, .ggchild2 h1 {
    margin-top: 100px;
}

p {
    text-align: center;
/*    border: 1px solid green;*/

}


.g2 h1 {
    text-align: center;
/*    border: 1px solid orange;*/
    margin: auto;
/*    float: left;*/
/*    word-wrap: break-word;*/
    margin-top: 50px;

}
.g2 img {
    width: 200px;
    float: left;
/*    border: solid 1px gray;*/
    margin-top: 0px;
}
.g2 p {
    margin-top: 100px;
} 
a {
    text-decoration: none;
}